version: '3.8'

services:
  orchestrator:
    build: .
    volumes:
      - .:/app
    depends_on:
      - redis
      - chromadb

  redis:
    image: redis:latest
    ports:
      - \"6379:6379\"

  chromadb:
    image: chromadb/chroma:latest
    ports:
      - \"8000:8000\"

  grafana:
    image: grafana/grafana:latest
    ports:
      - \"3000:3000\"
